.MainDash {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .MainDash {
    justify-content: flex-start;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .MainDash {
    align-items: center;
  }
}
